.custom-padding {
  padding: 1rem 3rem !important;
}

.card-text {
  span {
    min-width: 300px;
    display: inline-block;
  }
}

.img-container {
  &__image {
      display: inline-block;
      vertical-align: top;
      width: 30%;
      margin: 0 0 0 0;
  }
  &__text {
      display: inline-block;
      width: 60%;
      @media (max-width: 620px) {
          width: 100%;
      }
  }
}
